<h1 mat-dialog-title class="center">Alterar senha</h1>
<div mat-dialog-content>
    <p class="center">Informe a nova senha.</p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nova senha</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" [(ngModel)]="data.password" required>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar nova senha</mat-label>
            <input matInput [type]="hideConfirm ? 'password' : 'text'" [(ngModel)]="data.confirmPassword" required>
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions class="action-buttons">
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="data.password" (click)="verifyEntry()">Ok</button>
</div>