<h1 mat-dialog-title class="center">Desativar Conta</h1>
<div mat-dialog-content class="container">
    <p class="center">Antes de prosseguir, leia e aceite os termos a seguir</p>
    <section class="termos">
        <p>
            Ao desativar sua conta você não poderá mais fazer alterações, postar ou comentar em nosso site até
            reativá-la. Seus posts e comentários ainda estarão disponíveis
            no blog para os outros usuários.
        </p>
        <mat-checkbox [(ngModel)]="accepted">Eu aceito os termos acima</mat-checkbox>
    </section>
</div>
<div mat-dialog-actions class="action-buttons">
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" [disabled]="!accepted" (click)="deleteAccount()">Ok</button>
</div>