.navbarWrapper {
  width: 100%;
  position: fixed;
  height: fit-content;
  top: 0;
  z-index: 2;
  background-color: #212121;
  padding: 0.5rem 8.5rem;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  grid-gap: 2rem;

  div {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1199.98px) {
    padding: 0.5rem 1.5rem;
  }
}

.navLogo {
  text-align: center;
  height: 36px;
  width: 36px;
}

.miniLogo {
  height: 36px;
  width: 36px;
  color: #30bdff;
  font-size: 36px;
}

.navMenu {
  color: white;
  outline: none;
  border: none;
  background: none;
  padding: none;

  .mat-icon {
    font-size: 36px;
  }

  &:active {
    color: #30bdff;
  }

  @media (min-width: 1199.98px) {
    display: none;
  }
}

.navbarMenu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  @media (max-width: 1199.98px) {
    display: none !important;
  }
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-right: 2rem;

  @media (max-width: 1199.98px) {
    display: none !important;
  }
}

.inputSearch {
  height: 100%;
  width: 272px;
  outline: none;
  border: none;
  border-radius: 8px 0px 0px 8px;
  background-color: #f1f1f1;
  padding-left: 8px;
  color: #2c4574;
  @media (max-width: 799px) {
    border-radius: 0px;
    width: 150px;
    background-color: #333333;
    color: #fdfdfd;
  }

  &::placeholder {
    color: #c4c4c4;
    @media (max-width: 799px) {
      color: #979797;
    }
  }

  &:focus {
    background-color: #fdfdfd;
    @media (max-width: 799px) {
      background-color: #444444;
    }
  }
}

.submitSearch {
  width: auto;
  height: 100%;
  padding: 0 0.5rem;
  outline: none;
  border-radius: 0px 8px 8px 0px;
  border: none;
  border-left: 1px solid #c4c4c4;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 799px) {
    background-color: #333333;
    border-radius: 0px 0px 8px 0px;
  }

  &:hover,
  &:hover .submitIcon {
    background-color: #e1e1e1;
    color: #2c4574;

    @media (max-width: 799px) {
      background-color: #2c4574;
      color: #e1e1e1;
    }
  }

  &:active,
  &:active .submitIcon {
    background-color: #30bdff;
    color: #f1f1f1;
  }
}

.submitIcon {
  width: 18px;
  height: 18px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #2c4574;
  @media (max-width: 799px) {
    color: #fdfdfd;
  }
}

.navbar-right-content {
  @media (max-width: 1199.98px) {
    display: none !important;
  }
}

.ul-logout {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212121;
  display: flex;
  grid-gap: 2rem;

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

.userWrapper {
  grid-gap: 0.5rem;

  .userPic {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
}
