.marginTop {
  width: 100%;
  padding: 2rem;
  padding-bottom: 1rem;
}

.comentarioCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 650px) {
    grid-template-columns: 100%;
  }
}

// Comentarios

.teste + .teste {
  margin-top: 1rem;
}
