.homeBanner {
  width: auto;
  height: 325px;
  margin-top: 6rem;
  background-image: url(../../../assets/img/BGMLogo.png), url(../../../assets/img/GMBlogBanner.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom center;
  background-size: auto, contain;

  @media (max-width: 1023px) {
    height: 256px;
    background-image: url(../../../assets/img/BGMLogo128.png),
      url(../../../assets/img/GMBlogBanner.png);
  }

  @media (max-width: 799px) {
    height: 130px;
    background-image: url(../../../assets/img/BGMLogo128.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
