@import "~material-design-icons/iconfont/material-icons.css";
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  line-height: 150%;

  ul {
    padding: 0;
  }
}

.mat-simple-snackbar-action {
  color: #0096dd !important;
}

html,
body {
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./assets/img/backgroundTop.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #30bdff;
  padding-bottom: 176px;
}

a {
  text-decoration: none;
  color: unset;
}

#globalSection {
  max-width: 1366px;
  margin: 0 auto;
}

.mobileHiden {
  @media (max-width: 649px) {
    display: none !important;
  }
}

.center1024 {
  @media (max-width: 1023px) {
    text-align: center;
  }
}

.wrapperGm {
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  padding: 2rem;
  margin-bottom: 2rem;
}

.titleGm {
  font-family: "Saira", sans-serif;
  color: #0096dd;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (max-width: 649px) {
    font-size: 18px;
  }
}
.titleGm::after {
  content: "";
  flex: 1;
  background-color: #0096dd;
  height: 4px;
  border-radius: 20px;
  margin-left: 0.5em;

  @media (max-width: 649px) {
    height: 2px;
  }
}

.titleGm::before {
  @media (max-width: 649px) {
    content: "";
    flex: 1;
    background-color: #0096dd;
    height: 2px;
    border-radius: 20px;
    margin-right: 0.5em;
  }
}

// Spinner loading
